@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

.desktop{
    display : flex;
    align-items: flex-start;
}

.empty-whisky{
    display: none;
}

.inkpen{
    align-self: flex-end;
}

@media screen and (max-width: 1200px){
    .inkpen{
        display: none;
    }

    .empty-whisky{
        display: none;
    }

    .whisky{
        align-self: baseline;
     }
}

@media screen and (max-width: 1100px){
    .desktop{
        display: flex;
    }

    .whisky{
        display: none;
    }

    .empty-whisky{
        align-self: baseline;
    }
}

@media screen and (max-width: 1000px){
    .desktop{
        display: flex;
        justify-content: center;
    }

    .inkpen{
        display: none;
    }

    .whisky{
        display: none;
    }

    .empty-whisky{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .desktop{
        display: flex;
        justify-content: center;
    }

    .pages{
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .rightpage{
        width: 100%;
    }

    .leftpage{
        width: 100%;
    }

    .inkpen{
        display: none;
    }

    .whisky{
        display: none;
    }

    .empty-whisky{
        display: none;
    }
}